* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #083b4c;
}

.container {
	margin-inline: auto;
	padding-inline: 1rem;
	max-width: 700px;
}

h1 {
	color: white;
	text-align: center;
    font-size: 70px;
    padding-bottom: 20px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	width: 80px;
	height: 80px;
	background-color: #1389b2;
}

.div3 {
    background-color: #0cd6a1;}

.div5 {
    background-color: #ffd166;}

.div15 {
    background-color: #f0466e;}




